h1{
    text-align: center;
    color: yellowgreen;
}
.bg-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('image.jpg');
  background-size: cover;
background-position: center;
  background-repeat: no-repeat;
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}



.game {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

p {
    font-size: 18px;
    margin: 12px 0;
    color: #2c75c8;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
