/* style.css */
.bg-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('bgtrain.jpg');
  background-size: cover;
background-position: center;
  background-repeat: no-repeat;
  
}
h2{
    color: rgb(21, 0, 0);
    text-align: center;
    padding-top: 20px;
}
#entry-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 116, 116);
    color: rgb(43, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

}
#entry-btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
#save-btn{
    padding: 10px 20px;
    height: 1cm;
    font-size: 16px;
    background-color: rgb(185, 197, 251);
    color: rgb(43, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

}
#save-btn:hover{
    background-color: rgb(101, 140, 255);
    color: white;
}

p{
    font-size: 18px;
    color: rgb(0, 81, 255);
    text-align: center;
}