/* style.css */
.bg-container {
  width: 100%;
  height: 400px;
  background-image: url('bgtrain.jpg');
  background-size: 100% ;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid red; 
}
