.image img{
    width: 150px;
    height: 100px;
    box-shadow: 20px;
    align-items: center;
    object-fit:cover;}
.image:hover {
  transform: scale(1.1); /* grows 10% */
  align-self: center;
}


.banner{
    background-color: rgb(113, 141, 83);
    height: 100x;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}